.columnaID {
  visibility: hidden;
  display: none;
}

.charger {
  position: relative;
  top: 35px;
  bottom: 0;
  left: 223px;
  right: 0;
}

.clickInformacion {
  cursor: pointer;
}

.chargerTable {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.fotoModal {
  width: 300px;
  height: 300px;
  margin-left: 45px;
}

img {
  cursor: pointer;
}

.imageSelected {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 50px;
}

.chargerInsertar {
  position: absolute;
  top: 90%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerModificar {
  position: absolute;
  top: 90%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerEliminar {
  position: absolute;
  top: 72%;
  left: 77.5%;
  right: 0;
  bottom: 0;
}

.logo,
.user {
  font-size: 45px;
}

.inicio {
  font-size: 15px;
}

.modificar {
  font-size: 25px;
}

.eliminar {
  font-size: 25px;
}

.aceptar {
  margin-left: 160px !important;
}

.icono {
  margin-left: 45% !important;
}

.comboBox {
  position: absolute;
  top: 55.5%;
  left: 87%;
  right: 0px;
  bottom: 0px;
}

.imagenMal {
  position: absolute;
  top: 29.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.sonidoMal {
  position: absolute;
  top: 74%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.comboMal {
  position: absolute;
  top: 58%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.imagenSVG {
  position: absolute;
  top: 52%;
  left: 27%;
  right: 0px;
  bottom: 0px;
}

.imagenMalUpdate {
  position: absolute;
  top: 29%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.imagenMalUpdateSVG {
  position: absolute;
  top: 52%;
  left: 27%;
  right: 0px;
  bottom: 0px;
}

.comboMalUpdate {
  position: absolute;
  top: 58%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.comboMalUpdateSVG {
  position: absolute;
  top: 3%;
  left: 44%;
  right: 0px;
  bottom: 0px;
}

.sonidoMalUpdate {
  position: absolute;
  top: 74%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.sonidoMalUpdateSVG {
  position: absolute;
  top: 52%;
  left: 27%;
  right: 0px;
  bottom: 0px;
}
