.columnaID {
  visibility: hidden;
  display: none;
}

.charger {
  position: relative;
  top: 74px;
  bottom: 0;
  left: 187px;
  right: 0;
}

.clickInformacion {
  cursor: pointer;
}
img {
  cursor: pointer;
}

.chargerTable {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.fotoModal {
  width: 300px;
  height: 300px;
  margin-left: 45px;
}
.chargerInsertar4x1 {
  position: absolute;
  top: 91.3%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerModificar4x1 {
  position: absolute;
  top: 91%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerInsertarVoF {
  position: absolute;
  top: 84.5%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerModificarVoF {
  position: absolute;
  top: 83.5%;
  left: 45%;
  right: 0;
  bottom: 0;
}
.chargerInsertarImagen {
  position: absolute;
  top: 93.4%;
  left: 63%;
  right: 0;
  bottom: 0;
}
.chargerModificarImagen {
  position: absolute;
  top: 91.5%;
  left: 44%;
  right: 0;
  bottom: 0;
}

.chargerEliminar {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.chargerEliminarPregunta {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.logo,
.user {
  font-size: 45px;
}

.inicio {
  font-size: 15px;
}

.modificar {
  font-size: 20px;
}

.eliminar {
  font-size: 20px;
}

.aceptar {
  margin-left: 160px !important;
}

.icono {
  margin-left: 45% !important;
}

.descripcionMal {
  position: absolute;
  top: 25.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.descripcionSVG {
  position: absolute;
  top: 52%;
  left: 38%;
  right: 0px;
  bottom: 0px;
}

.respuestaCorrectaMal {
  position: absolute;
  top: 38.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaCorrectaSVG {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 0px;
  bottom: 0px;
}

.respuestaIncorrectaMal {
  position: absolute;
  top: 51.2%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrectaSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0px;
  bottom: 0px;
}

.respuestaIncorrecta1Mal {
  position: absolute;
  top: 64%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta1SVG {
  position: absolute;
  top: 52%;
  left: 50%;
  right: 0px;
  bottom: 0px;
}

.respuestaIncorrecta2Mal {
  position: absolute;
  top: 76.7%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta2SVG {
  position: absolute;
  top: 52%;
  left: 50%;
  right: 0px;
  bottom: 0px;
}

.descripcionMalUpdate {
  position: absolute;
  top: 36%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.descripcionMalVoF {
  position: absolute;
  top: 45%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.descripcionSVG {
  position: absolute;
  top: 52%;
  left: 20%;
  right: 0px;
  bottom: 0px;
}

.respuestaCorrectaBienVoF {
  position: absolute;
  top: 65%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.descripcionMalImagen {
  position: absolute;
  top: 20.1%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.imagenMal {
  position: absolute;
  top: 33%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.respuestaCorrectaMalImagen {
  position: absolute;
  top: 45.6%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.respuestaIncorrectaMalImagen {
  position: absolute;
  top: 58.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.respuestaIncorrecta1MalImagen {
  position: absolute;
  top: 70.6%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.respuestaIncorrecta2MalImagen {
  position: absolute;
  top: 82.9%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.ogligatorio {
  position: absolute;
  top: 88.6%;
  left: 5%;
  right: 0px;
  bottom: 0px;
  height: 25px;
  width: 420px;
}

.respuestaIncorrectaMalImagenSVG {
  position: absolute;
  top: 53%;
  left: 50%;
  right: 0px;
  bottom: 0px;
}

.botones {
  margin-top: 18px;
}

.imagenSVG {
  position: absolute;
  top: 4%;
  left: 87%;
  right: 0px;
  bottom: 0px;
}

.imagenImagenSVG {
  position: absolute;
  top: 4%;
  left: 87%;
  right: 0px;
  bottom: 0px;
}

.descripcionMalUpdate4x1 {
  position: absolute;
  top: 26.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.descripcionUpdateSVG {
  position: absolute;
  top: 52%;
  left: 20%;
  right: 0px;
  bottom: 0px;
}

.respuestaCorrectaMalUpdate4x1 {
  position: absolute;
  top: 39.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrectaMalUpdate4x1 {
  position: absolute;
  top: 53%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta1MalUpdate {
  position: absolute;
  top: 65.8%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta2MalUpdate4x1 {
  position: absolute;
  top: 79%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.descripcionMalUpdateVoF {
  position: absolute;
  top: 49%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.descripcionMalImagenUpdate {
  position: absolute;
  top: 20.6%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.imagenMalUpdate {
  position: absolute;
  top: 34%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaCorrectaMalImagenUpdate {
  position: absolute;
  top: 46.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrectaMalImagenUpdate {
  position: absolute;
  top: 59%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta1MalImagenUpdate {
  position: absolute;
  top: 71.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.respuestaIncorrecta2MalImagenUpdate {
  position: absolute;
  top: 83.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.imagenImagenSVG {
  position: absolute;
  top: 52%;
  left: 26%;
  right: 0px;
  bottom: 0px;
}
