.columnaID {
  visibility: hidden;
  display: none;
}

.charger {
  position: absolute;
  top: 87px;
  bottom: 0;
  left: 233px;
  right: 0;
}

.clickInformacion {
  cursor: pointer;
}

.chargerTable {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.chargerInsertar,
.chargerModificar {
  position: absolute;
  top: 87.7%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerEliminar {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.comboBox {
  position: absolute;
  top: 67%;
  left: 87%;
  right: 0;
  bottom: 0;
}

.comboBoxUpdate {
  position: absolute;
  top: 70%;
  left: 87%;
  right: 0;
  bottom: 0;
}

.logo,
.user {
  font-size: 40px;
}

.inicio {
  font-size: 15px;
}

.modificar {
  font-size: 20px;
}

.eliminar {
  font-size: 20px;
}

.listarNivel {
  font-size: 20px;
}

.aceptar {
  margin-left: 160px !important;
}

.icono {
  margin-left: 45% !important;
}

.nombreMal {
  position: absolute;
  top: 35.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.nombreMalUpdate {
  position: absolute;
  top: 37%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.comboMal {
  position: absolute;
  top: 71.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.comboMalUpdate {
  position: absolute;
  top: 73.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.nombreMalSVG {
  position: absolute;
  top: 53%;
  left: 100px;
  right: 0px;
  bottom: 0px;
}

.CIMal {
  position: absolute;
  top: 54%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.CIMalUpdate {
  position: absolute;
  top: 56%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}

.CISvg {
  position: absolute;
  top: 51%;
  left: 154px;
  right: 0px;
  bottom: 0px;
}
