.columnaID {
  visibility: hidden;
  display: none;
}

.charger {
  position: relative;
  top: 35px;
  bottom: 0;
  left: 223px;
  right: 0;
}

.clickInformacion {
  cursor: pointer;
}

.chargerTable {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.fotoModal {
  width: 300px;
  height: 300px;
  margin-left: 45px;
}
.chargerInsertar{
  position: absolute;
  top: 82%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerModificar {
  position: absolute;
  top: 81%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerEliminar {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.chargerEliminarNivel {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.logo,
.user {
  font-size: 45px;
}

.inicio {
  font-size: 15px;
}

.modificar {
  font-size: 20px;
}

.eliminar {
  font-size: 20px;
}

.listarNivel {
  font-size: 20px;
}

.aceptar {
  margin-left: 160px !important;
}

.icono {
  margin-left: 45% !important;
}

.descripcionMal {
  position: absolute;
  top: 51.5%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 417px;
}

.descripcionSVG {
  position: absolute;
  top: 52%;
  left: 38%;
  right: 0px;
  bottom: 0px;
}

.descripcionMalUpdate {
  position: absolute;
  top: 55%;
  left: 8%;
  right: 0px;
  bottom: 0px;
  height: 49px;
  width: 421px;
}
