.columnaID {
  visibility: hidden;
  display: none;
}

.charger {
  position: absolute;
  top: 87px;
  bottom: 0;
  left: 233px;
  right: 0;
}

.clickInformacion {
  cursor: pointer;
}

.chargerTable {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.fotoModal {
  width: 300px;
  height: 300px;
  margin-left: 45px;
}
.chargerInsertar {
  position: absolute;
  top: 89%;
  left: 63%;
  right: 0;
  bottom: 0
}

.chargerModificar {
  position: absolute;
  top: 85%;
  left: 63%;
  right: 0;
  bottom: 0;
}

.chargerEliminar {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.chargerEliminarNivel {
  position: absolute;
  top: 70%;
  left: 77%;
  right: 0;
  bottom: 0;
}

.comboBox {
  position: absolute;
  top: 63%;
  left: 87%;
  right: 0;
  bottom: 0;
}

.comboBoxUpdate {
  position: absolute;
  top: 56%;
  left: 87%;
  right: 0;
  bottom: 0;
}

.comboBoxCI {
  position: absolute;
  top: 72%;
  left: 87%;
  right: 0;
  bottom: 0;
}

.logo,
.user {
  font-size: 40px;
}

.inicio {
  font-size: 15px;
}

.modificar {
  font-size: 25px;
}

.eliminar {
  font-size: 25px;
}

.aceptar{
  margin-left: 160px !important;
}

.icono{
  margin-left: 45% !important;
}